.banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 150px;
}
.banner__image {
  display: flex;
  justify-content: center;
  margin-top: 98px;
  width: 80%;
  margin: auto;
}

.banner__content {
  padding: 24px 24px 0;
}
.banner__content h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
  margin-top: 0;
}
.circle {
  border-radius: 50%;
  width: 800px;
  height: 800px;
  position: absolute;
  z-index: -1;
}
.circle__purple {
  background: #8e00e5;
  top: 2%;
  right: -20%;
}
.circle__red {
  background: #ff5500;
  width: 1262px;
  height: 1262px;
  top: 50%;
  left: -60%;
}
.circle__maroon {
  background: #ce349a;
  top: 30%;
  left: -10%;
}

.heart__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  background-color: white;
  margin-top: 100px;
}
.heart__icon img {
  margin-top: -50px;
}
.banner__image video{
  box-shadow:0 0 0 16px #f9f9f9;
  border-radius: 24px;
  background-color: #f9f9f9;
  max-width: 90%;
}
@media (min-width:992px){
  /* .banner{
    height: 100vh;
  } */
  .banner__image{
    margin-top: 0;
   
  }
  .banner__image video {
    max-height: 86vh;
    width: auto;
    max-width: initial;
  }
  .row{
    display: flex;
    align-items: flex-start;
  }
  .banner__content{
    max-width: 600px;
    padding: 0;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.03em;
    margin-right: auto;
    margin-top: 260px;
  }
  .banner__content strong{
    font-size: 2em;
    line-height: 1;
    display: block;
    letter-spacing: -0.03em;
  }
  .heart__icon{
    position: static;
    justify-content: flex-start;
    background-color: transparent;
  }
  .circle{
    width: 2400px;
    height: 2400px;
  }
  .circle__maroon{
    top:50%;
    right: 0;
  }
  .circle__purple{
    right: -190px;
    top:280px;
  }
  .circle__red{
    top: 100%;
    left:0;
    margin-left: -700px;
    margin-top: -250px;
  }
  .row{
    max-width: 1140px;
    margin: auto;
  }
}