.footer{
  padding:40px 24px 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 24px;
  position: relative;
  overflow: hidden;
}
.footerShadow{
  position: absolute;
  bottom: 0;
  transform: translateY(15%);
  left: 0;
  width: 100%;
}
.footerShadow div{
  width: 100%;
  margin-bottom: -45% !important;
}

@media (min-width: 992px){
  .footer{
    background: #FFC220;
    padding-bottom: 0;
  }
  .footerShadow{
    position: static;
    transform: none;
    margin-bottom: -15%;
  }
  .footerShadow > div{
    height: auto !important;
    width: 110% !important;
    margin: 0 -5% -45% -5% !important;
  }
}